<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Eclipse 2021-12. RCP" sequenceNumber="1506582696">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>   
      <repository id="eclipse-2021-12. RCP" location="http://download.eclipse.org/releases/2021-12/"/>

      <!-- 2021-02-04 mvk need for product build (sitrol.tm) -->
      <unit id="javax.xml" version="0.0.0"/>
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.eclipse.equinox.ds" version="0.0.0"/>
      <unit id="org.eclipse.equinox.supplement" version="0.0.0"/>
      <unit id="org.eclipse.pde.ds.lib" version="0.0.0"/>
      <!-- <unit id="org.eclipse.equinox.launcher.gtk.linux.ppc64le" version="0.0.0"/> -->
      <unit id="org.eclipse.equinox.region" version="0.0.0"/>
      <unit id="org.eclipse.equinox.transforms.hook" version="0.0.0"/>
      <unit id="org.eclipse.equinox.weaving.hook" version="0.0.0"/>
    </location>
<!--
    <location path="${eclipse_home}" type="Profile"/>
    <location path="../ts3-targets/eclipse-rcp-4.18/org.eclipse.platform" type="Directory"/>
    <location path="../ts3-targets/eclipse-rcp-4.18/org.eclipse.rcp.source" type="Directory"/>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.eclipse.org/releases/2020-12"/>
        <unit id="org.eclipse.equinox.sdk.feature.group" version="3.21.0.v20201128-0731"/>
        <unit id="org.eclipse.platform.sdk" version="4.18.0.I20201202-1800"/>
    </location>
-->
  </locations>
</target>
