<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="toxsoft-rap-3.19">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <!-- see: https://www.eclipse.org/rap/downloads/  -->
      <repository id="Eclipse 4.22 (2021-12). RAP (Runtime)" location="https://download.eclipse.org/rt/rap/3.19/"/>
      <!-- 2021-02-04 mvk need for product build (sitrol.tm) -->
      <unit id="javax.xml" version="0.0.0"/>
    </location>

    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <!-- see: https://www.eclipse.org/rap/downloads/  -->
      <repository id="Eclipse 4.22 (2021-12). RAP E4 (Runtime)" location="https://download.eclipse.org/rt/rap/3.19/e4/"/>
      <!-- 2021-02-04 mvk need for product build (sitrol.tm) -->
      <unit id="javax.xml" version="0.0.0"/>
    </location>

    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <!-- see: https://www.eclipse.org/rap/downloads/  -->
      <repository id="Eclipse 4.22 (2021-12). RAP Tools" location="https://download.eclipse.org/rt/rap/tools/3.19/"/>
    </location>

    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-extlibs/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-extlibs/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-core/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-core/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-alarms/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-alarms/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-bridge/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-bridge/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-charts/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-charts/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-devs/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-devs/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-dq/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-dq/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-ggprefs/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-ggprefs/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-journals/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-journals/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-maps/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-maps/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-mnemos/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-mnemos/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-onews/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-onews/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-refbooks/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-refbooks/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-reports/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-reports/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-rri/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-rri/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-tags/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-tags/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-users/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-users/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-legacy/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-legacy/rap" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-general/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-general/rap" type="Directory"/>
  </locations>
</target>