<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="toxsoft-rcp-4.18">
  <locations>
    <location path="${workspace_loc}/../git-repos/ts3-targets/ts3-target-core/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts3-targets/ts3-target-core/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts3-targets/ts3-target-extlibs/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts3-targets/ts3-target-extlibs/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts3-targets/eclipse-rcp-4.18/org.eclipse.platform" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts3-targets/eclipse-rcp-4.18/org.eclipse.rcp.source" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts3-targets/ts3-target-uskat/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts3-targets/ts3-target-uskat/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts3-targets/ts3-target-legacy/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts3-targets/ts3-target-legacy/rcp" type="Directory"/>
  </locations>
</target>