<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="toxsoft-rcp-4.22">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>   
      <repository id="eclipse-2021-12. RCP" location="http://download.eclipse.org/releases/2021-12/"/>

      <!-- 2021-02-04 mvk need for product build (sitrol.tm) -->
      <unit id="javax.xml" version="0.0.0"/>
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.eclipse.equinox.ds" version="0.0.0"/>
      <unit id="org.eclipse.equinox.supplement" version="0.0.0"/>
      <unit id="org.eclipse.pde.ds.lib" version="0.0.0"/>
      <!-- <unit id="org.eclipse.equinox.launcher.gtk.linux.ppc64le" version="0.0.0"/> -->
      <unit id="org.eclipse.equinox.region" version="0.0.0"/>
      <unit id="org.eclipse.equinox.transforms.hook" version="0.0.0"/>
      <unit id="org.eclipse.equinox.weaving.hook" version="0.0.0"/>
    </location>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-extlibs/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-extlibs/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-core/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-core/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-alarms/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-alarms/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-bridge/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-bridge/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-charts/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-charts/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-devs/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-devs/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-dq/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-dq/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-ggprefs/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-ggprefs/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-journals/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-journals/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-maps/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-maps/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-mnemo/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-mnemo/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-onews/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-onews/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-refbooks/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-refbooks/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-reports/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-reports/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-rri/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-rri/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-tags/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-tags/rcp" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-users/main" type="Directory"/>
    <location path="${workspace_loc}/../git-repos/ts4-targets/ts4-target-skf-users/rcp" type="Directory"/>
  </locations>
</target>